.Semi{

    margin: 20px;
    background-color: blue;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}       
.deb{

    margin: 20px;
    background-color: rgb(159, 159, 224);
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}       
.sample{

    margin: 20px;
    background-color: rgb(159, 159, 224);
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}       


